@model Doan.Models.DoDung
@using Doan.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout_Menu_NhanVien.cshtml";
}

<h2>Trang chi tiết sản phẩm</h2>
<div style="display:flex">
    <div style="padding-left:100px">
        <dl style="max-width:400px; max-height:400px">
            @Html.Image("../../" + @Model.HinhDD, @Model.HinhDD, "300")
        </dl>
    </div>

    <div>
        <div class="form-group">
            <label class="control-label col-md-12" style="font-weight:bold"> Loại đồ dùng</label>
            <div class="col-md-12">
                @Html.DisplayFor(model => model.LoaiDoDung.TenLoai)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-12" style="font-weight:bold"> Tên đồ dùng</label>
            <div class="col-md-12">
                @Html.DisplayFor(model => model.TenDD)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-12" style="font-weight:bold"> Giá </label>
            <div class="col-md-12">
                @Html.DisplayFor(model => model.Gia)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-12" style="font-weight:bold"> Số lượng </label>
            <div class="col-md-12">
                @Html.DisplayFor(model => model.SoLuong)
            </div>
        </div>
        <dl style="padding-left:150px; padding-top:50px">
            <dd>
                <a class=" btn btn-success btn-sm" style="width:100px" href="@Url.Action("AddItem","DoDungs", new {MaDD = Model.MaDD, SoLuong = 1, TenDD = Model.TenDD, Gia = Model.Gia, Image = Model.HinhDD})">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    Giỏ Hàng
                </a>
                <a class=" btn btn-success btn-sm" style="width:100px" href="@Url.Action("Index2","NhanVien")">
                    Quay lại
                </a>
            </dd>
        </dl>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDD })
    @Html.ActionLink("Back to List", "Index")
</p>
