@model Doan.Models.DoDung
@using Doan.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout_Menu_NhanVien.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DoDung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiDoDung.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiDoDung.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt style="max-width:200px">
            @Html.Image("../../" + @Model.HinhDD, @Model.HinhDD, "100")
        </dt>
        <dd>
            <a class=" btn btn-success btn-sm" href="@Url.Action("AddItem","DoDungs", new {MaDD = Model.MaDD, SoLuong = 1, TenDD = Model.TenDD, Gia = Model.Gia, Image = Model.HinhDD})">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                Gio Hang
            </a>
            <a class=" btn btn-success btn-sm" href="@Url.Action("Index2","NhanVien", new {MaDD = Model.MaDD})">
                Quay lai
            </a>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDD })
    @Html.ActionLink("Back to List", "Index")
</p>
