@model IEnumerable<Doan.Models.DoDung>
@using Doan.Models
@{
    ViewBag.Title = "Danh mục đồ dùng";
    Layout = "~/Views/Shared/Layout_Menu_NhanVien.cshtml";
}
<h2>DANH SÁCH THỰC ĐƠN</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoaiDoDung.TenLoai)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TenDD)*@
            @Html.ActionLink("Ten san pham", "Index2", new { Sort = ViewBag.SortByName })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Gia)*@
            @Html.ActionLink("Gia", "Index2", new { Sort = ViewBag.SortByPrice })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhDD)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiDoDung.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td style="max-width: 50px; height: auto">
                @*@Html.DisplayFor(modelItem => item.HinhDD)*@
                @Html.Image("../" + item.HinhDD, "alt", "100")

            </td>
            <td class="btn btn-info" style="margin:30px 0 20px 5px">
                @Html.ActionLink("Edit", "Edit", new { id = item.MaDD })
            </td>
            <td class="btn btn-warning" style="margin:30px 0 20px 5px">
                @Html.ActionLink("Details", "Details", new { id = item.MaDD })
            </td>
            <td class="btn btn-danger" style="margin:30px 0 20px 5px">
                @Html.ActionLink("Delete", "Delete", new { id = item.MaDD })
            </td>
        </tr>
    }
</table>

