@model Doan.Models.KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout_Menu_NhanVien.cshtml";
}

<h2>THÔNG TIN CHI TIẾT</h2>

<div>
    <h4>Khách Hàng</h4>
    <hr />
    <div class="form-group">
        <label class="control-label col-md-3" style="font-weight:bold"> Tên khách hàng</label>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.TenKH)
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-3" style="font-weight:bold"> Loại khách hàng</label>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.LoaiKhachHang.TenLoai)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3" style="font-weight:bold"> Số điện thoại </label>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.SDT)
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaKH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
