@model IEnumerable<Doan.Models.KhachHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Menu_NhanVien.cshtml";
}

<h2>THÔNG TIN KHÁCH HÀNG</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoaiKhachHang.TenLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiKhachHang.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td class="btn btn-info" style="margin-left: 20px; margin-right: 20px; margin-top: 5px; margin-bottom: 5px">
                @Html.ActionLink("Edit", "Edit", new { id = item.MaKH })
            </td>
            <td class="btn btn-warning" style="margin-left:20px; margin-right:20px; margin-top:5px; margin-bottom:5px">
                @Html.ActionLink("Details", "Details", new { id = item.MaKH })
            </td>
            <td class="btn btn-danger" style="margin-left: 20px; margin-right: 0; margin-top: 5px; margin-bottom: 5px">
                @Html.ActionLink("Delete", "Delete", new { id = item.MaKH })
            </td>
        </tr>
    }

</table>

