@model IEnumerable<Doan.Models.NhaCungCap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Menu.cshtml";
}

<h2>Thông tin nhà cung cấp</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <h6>Tên nhà cung cấp</h6>
        </th>
        <th>
            <h6>Địa chỉ</h6>
        </th>
        <th>
            <h6>SĐT</h6>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td class="btn btn-info" style="margin:30px 0 20px 5px">
            @Html.ActionLink("Edit", "Edit", new { id = item.MaNCC })
        </td>
        <td class="btn btn-warning" style="margin:30px 0 20px 5px">
            @Html.ActionLink("Details", "Details", new { id = item.MaNCC })
        </td>
        <td class="btn btn-danger" style="margin:30px 0 20px 5px">
            @Html.ActionLink("Delete", "Delete", new { id = item.MaNCC })
        </td>
    </tr>
}

</table>
