@model List<Doan.Models.DoDung>
@using Doan.Models
@{
    ViewBag.Title = "Index_Cart";
    Layout = "~/Views/Shared/Layout_Menu_NhanVien.cshtml";
}
@if (Model.Count > 0)
{
    <table class="table">
        <tr>
            <td>Mã</td>
            <td>Tên</td>
            <td>Số Lượng</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>
        </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm("UpdateItem", "DoDungs"))
            {
                <tr>
                    <td>
                        <input type="text" name="MaDD" id="MaDD" value="@item.MaDD" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDD)
                    </td>
                   
                    <td>
                        <input type="text" name="SoLuong" id="SoLuong" value="@item.SoLuong" />
                    </td>
                    <td>
                        @item.Gia.GetValueOrDefault(0).ToString()
                    </td>
                    <td>
                        @(item.Gia.GetValueOrDefault(0) * item.SoLuong)
                    </td>
                    <td>
                        <a href="@Url.Action("DeleteItem","Dodungs", new {id = item.MaDD})">Xóa</a>
                    </td>
                    <td>
                        <input type="submit" value="Cập nhật" />
                    </td>
                    <td>
                        <a href="@Url.Action("CheckQuantity","Dodungs", new {id = item.MaDD, SoLuong = item.SoLuong})">Kiểm tra</a>
                    </td>

                </tr>
            }
        }
    </table>
    <a class=" btn btn-success btn-sm" href="@Url.Action("Index2","NhanVien")">
        Tiep tuc mua hang
    </a>
    <a class=" btn btn-success btn-sm" href="@Url.Action("DeleteCart","Dodungs")">
        Xoa gio hang
    </a>

    <a class=" btn btn-success btn-sm" href="@Url.Action("Payment","Dodungs")">
        Thanh Toan
    </a>
}
else
{
    <span class="alert alert-danger">Chưa có sản phẩm trong giỏ hàng</span>
}
<div class="alert alert-info mt-3">
    @ViewBag.Message
</div>