@model Doan.Models.DoDung
@using Doan.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout_Coffee.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DoDung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiDoDung.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiDoDung.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt style="max-width:200px">
            @Html.Image("../../" + @Model.HinhDD, @Model.HinhDD, "100")
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
