@model List<Doan.Models.DoDung>
@using Doan.Models
@{
    ViewBag.Title = "Index_Cart";
    Layout = "~/Views/Shared/Layout_Menu_NhanVien.cshtml";
}
@if (Model.Count > 0)
{
    <table class="table">
        <tr>
            <td>Ma</td>
            <td>Ten</td>
            <td>Anh</td>
            <td>SoLuong</td>
            <td>DonGia</td>
            <td>ThanhTien</td>
        </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm("UpdateItem", "DoDungs"))
            {
                <tr>
                    <td>
                        <input type="text" name="MaDD" id="MaDD" value="@item.MaDD" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDD)
                    </td>
                    <td style="max-width: 50px; height: auto">
                        @Html.Image("../" + item.HinhDD, "alt", "100")
                    </td>
                    <td>
                        <input type="text" name="SoLuong" id="SoLuong" value="@item.SoLuong" />
                    </td>
                    <td>
                        @item.Gia.GetValueOrDefault(0).ToString()
                    </td>
                    <td>
                        @(item.Gia.GetValueOrDefault(0) * item.SoLuong)
                    </td>
                    <td>
                        <a href="@Url.Action("DeleteItem","Dodungs", new {id = item.MaDD})">Xoa</a>
                    </td>
                    <td>
                        <input type="submit" value="Cập nhật" />
                    </td>
                </tr>
            }
        }

    </table>
    <a class=" btn btn-success btn-sm" href="@Url.Action("Index2","NhanVien")">
        Tiep tuc mua hang
    </a>
    <a class=" btn btn-success btn-sm" href="@Url.Action("DeleteCart","Dodungs")">
        Xoa gio hang
    </a>

    <a class=" btn btn-success btn-sm" href="@Url.Action("Payment","Dodungs")">
       Thanh Toan
    </a>
}
else
{
    <span class="alert alert-danger">Chua co san pham trong gio hang</span>
}