@model IEnumerable<Doan.Models.LoaiDoDung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Menu.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaLoaiDD }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaLoaiDD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaLoaiDD })
        </td>
    </tr>
}

</table>
