@model IEnumerable<Doan.Models.ChiTietHoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Menu.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoDung.TenDD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoaDon.MaKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DoDung.TenDD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoaDon.MaKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaChiTiet }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaChiTiet }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaChiTiet })
        </td>
    </tr>
}

</table>
