@model IEnumerable<Doan.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Menu_NhanVien.cshtml";
}

<h2>THÔNG TIN HÓA ĐƠN</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <h4> Tên khách hàng</h4>
        </th>
        <th>
            <h4> Tên nhân viên</h4>
        </th>
        <th>
            <h4> Ngày tạo hóa đơn</h4>
        </th>
        <th>
            <h4> Tổng tiền</h4>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.TenUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTaoHD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td class="btn btn-warning" style="margin-left:20px; margin-right:20px; margin-top:5px; margin-bottom:5px">
            @Html.ActionLink("Details", "Details", new { id = item.MaHD })
        </td>
        <td class="btn btn-danger" style="margin-left: 20px; margin-right: 0; margin-top: 5px; margin-bottom: 5px">
            @Html.ActionLink("Delete", "Delete", new { id = item.MaHD })
        </td>
    </tr>
}

</table>
